@model Category


@{
    ViewBag.PageTitle = "Category Management";
    ViewBag.CardTitle="Create Category";
    Layout= "~/Views/Shared/_Dashboard.cshtml";

}



<div class="row">
    <div class="col-md-4">
<form asp-action="Create" method="post">
   <div class="form-group align-content-center">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>

    </div>
            <div class="form-group pb-3">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" id="mytextarea" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary"/>
                <a asp-action="Index" asp-controller="Category" class="btn btn-secondary">Back To List</a>
    </div>
</form>
    </div>
</div>

 @section Scripts {
     <partial name="_ValidationScriptsPartial" />
    <script>
        tinymce.init({
          selector: '#mytextarea',
          license_key: 'gpl|<your-license-key>'
        });
    </script>
 }
